# === OS & IDE (시스템 공통) ===
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# === Dependencies & Virtual Envs ===
**/node_modules/
**/venv/
**/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
/.pnp
.pnp.js

# === Zolver-Data ===
zolver-data/scripts/
zolver-data/data/
zolver-data/local_test.py
*.ipynb
.ipynb_checkpoints/

# === Frontend (React/Next.js 등) ===
zolver-frontend/build/
zolver-frontend/dist/
zolver-frontend/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Backend & Security ===
.env
*.env
.env.local
*.env.local
.env*.local
*.env.local.bak
.env.development.local
.env.test.local
.env.production.local
*.env.server
.env.server

db.sqlite3
storage/uploads/*
!storage/uploads/.gitkeep
**/logs/
zolver-elastic/logs/
zolver-airflow/backups/*.sql